<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню просмотра AR-моделей</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>AR</h1>

    <div id="models-gallery" class="models-gallery">
        <!-- Карточки будут загружены здесь -->
    </div>

    <div class="actions">
        <button id="admin-btn" class="btn">Панель администратора</button>
    </div>
</div>

<script src="/js/menu.js"></script>
</body>
</html>